html,
body {
  height: 100%;
}
body{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.unselected{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* other */
}
.alert{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.title{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: -8px;
}
.title-text{
  font-size: 30px;
}
.icon{
  margin-right: 5px;
  margin-top: -5px;
}
.toggle{
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.toggle-line{
  margin-left: 2px;
  width: 50px;
  height: 3px;
  background-color: #007bff;
}
.toggle-switch{
  animation-duration: 0.5s;
  animation-name: toggleSwitch;
}
.toggle-switch-reverse{
  animation-duration: 0.5s;
  animation-name: toggleSwitchReverse;
}
.toggle-text{
  font-size: 20px;
  margin-bottom: 0;
  padding: 0 8px;
}
.toggle-text:hover{
  cursor: pointer;
  color: #0069d9;
}
.toggle .selected{
  color: #007bff;
}
.toggle .selected:hover{
  color: #0069d9;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  max-width: 300px;
  margin: auto;
}
.main-container .form-control {
  position: relative;
  height: auto;
  padding: 8px;
  font-size: 16px;
}
.main-container .form-control:focus {
  z-index: 2;
}
.main-container .input-first{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.main-container .input-middle{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.main-container .input-last{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.main-container .input-first,
.main-container .input-middle,
.main-container .input-last{
  margin-bottom: -1px;
}
.checkbox{
  margin-top: 8px;
}
.login-container,
.register-container{
  flex-direction: column;
  align-items:center;
  width: 220px;
}
.login-container{
  display: flex;
}
.register-container{
  display: none;
}
#login-btn{
  width: 80px;
}
#register-btn{
  margin-top: 20px;
  width: 80px;
}
.footer p{
    margin-bottom: 0;
}

@media screen and (min-height: 400px){
  .main-container{
    margin-top: 60px;
  }
}
@media screen and (min-height: 600px){
  .main-container{
    margin-top: 110px;
  }
}
@media screen and (min-height: 800px){
  .main-container{
    margin-top: 160px;
  }
}
@media screen and (min-height: 1000px){
  .main-container{
    margin-top: 220px;
  }
}

@keyframes toggleSwitch{
  0%{
    margin-left: 2px;
    width: 50px;
  }
  50%{
    margin-left: 2px;
    width: 106px;
  }
  100%{
    margin-left: 58px;
    width: 50px;
  }
}
@keyframes toggleSwitchReverse{
  0%{
    margin-left: 58px;
    width: 50px;
  }
  50%{
    margin-left: 2px;
    width: 106px;
  }
  100%{
    margin-left: 2px;
    width: 50px;
  }
}
