<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="{{url_for('FontEnd.static',filename = 'icons/cloud_icon_32.png')}}">

		<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="{{url_for('FontEnd.static',filename = 'css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{url_for('FontEnd.static',filename = 'css/login_html.css')}}">

		<title>云盘</title>
	</head>
	<body class="text-center unselected">
		<div class="alert-container">
		</div>
		<div class="main-container">
			<div class="title">
				<img class="icon" src="{{url_for('FontEnd.static',filename = 'icons/cloud.svg')}}" alt="" width="56" height="56">
				<h2 class="title-text">云盘</h2>
			</div>
			<div class="toggle">
				<div class="d-flex">
					<p class="toggle-text selected" id="toggle-login">登录</p>
					<p class="toggle-text" id="toggle-register">注册</p>
				</div>
				<div class="toggle-line"></div>
			</div>
				<form class="login-container" method="post">
					<input type="text" name="login_username" id="login_input_username" class="form-control input-first" placeholder="用户名" required autofocus data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="用户名不合法">
					<input type="password" name="login_password" id="login_input_password" class="form-control input-last" placeholder="密码" required data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="密码不合法">
					<div class="checkbox">
						<input type="checkbox" name="enable_cookie" id="checkbox_cookie">
						<label for="checkbox_cookie">记住我</label>
					</div>
					<button id="login-btn" class="btn btn-primary btn-block">提交</button>
				</form>
				<form class="register-container" method="post">
					<input type="text" name="reg_username" id="reg_input_username" class="form-control input-first" placeholder="用户名" required data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="用户名不合法">
					<input type="password" name="reg_password" id="reg_input_password" class="form-control input-middle" placeholder="密码" required data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="密码不合法">
					<input type="password" id="reg_input_password_confirm" class="form-control input-middle" placeholder="确认密码" required data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="密码不相同">
					<input type="email" id="reg_input_email" class="form-control input-last" placeholder="电子邮箱" required data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="电子邮箱不合法">
					<button id="register-btn" class="btn btn-primary btn-block">提交</button>
				</form>
		</div>
		<div class="footer">
			<p>
				Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">flaticon</a>
			</p>
			<p>
				©2018 lomojuice
			</p>
		</div>

		<script>
		const PARADICT = {};
		PARADICT["user_api_url"] = "{{url_for('BackEnd.UserApi')}}";
		PARADICT["main_html_url"] = "{{url_for('FontEnd.Main',username='1')}}".slice(0, -2);
		window.history.replaceState('',0,"{{url_for('FontEnd.Login')}}");
		</script>

		<script src="{{url_for('FontEnd.static',filename = 'js/jquery-3.3.1.min.js')}}"></script>
		<script src="{{url_for('FontEnd.static',filename = 'js/bootstrap.bundle.min.js')}}"></script>
		<script src="{{url_for('FontEnd.static',filename = 'js/login_html.js')}}"></script>
	</body>
</html>
