html,
body {
  height: 100%;
}
body{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.unselected{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* other */
}
.title{
    margin-top: -10px;
}
.form-signin {
  width: 100%;
  max-width: 300px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin: auto;
  padding-bottom: 5em;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 8px;
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin #input_username{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin #input_password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin button{
    width: 40%;
    margin-left: 30%;
}
.footer p{
    margin-bottom: 0;
}
