html{
    font-size: 14px;
}
#breadcrumb_row .bc_separator,
#breadcrumb_row .bc_path{
    font-size: 18px;
}
@media (min-width:450px) {
    html{
        font-size: 16px;
    }
    #breadcrumb_row .bc_separator,
    #breadcrumb_row .bc_path{
        font-size: 22px;
    }
}

body{
    user-select: none;
}
.container-fluid button{
    margin: 0.25rem 0.25rem;
}
#entry_menu,
#blank_menu{
    display: none;
    position: absolute;
}
.bc_separator{
    padding: 0rem 0.25rem;
}
.bc_path{
    border-radius:10px;
    padding: 0 0.3rem 0.2rem 0.3rem;
}
.bc_path:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}
#breadcrumb_row .col-12{
    padding-bottom: 0.3rem;
}
#entry_container > div[class~="entry_row"],
#title_row{
    border-top: 1px solid rgb(232, 234, 237);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: default;
}
#entry_container > div[class~="entry_row"]:hover{
    background-color: rgb(246, 250, 255);
}
#entry_container > div[class~="selected"],
#entry_container > div[class~="selected"]:hover{
    background-color: rgb(232, 240, 254);
}
#entry_container > .media{
    padding-left: 0.5rem;
}
#entry_container .media .icon_container{
    width: 26px;
    height: 24px;
    margin-right: 0.5rem;
}
.mouse_menu{
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2),-2px 4px 8px rgba(0,0,0,0.2);
    border-radius:4px;
}
.mouse_menu_body{
    padding: 0.4rem 0;
}
.mouse_menu_entry{
    padding: 0.2rem 0.8rem;
}
.mouse_menu_entry:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}
